.about-team-row-one .about-team-row-two{
  max-width: 100vw;
  max-height: 75vh;
}

.about-image {
  width: 212px;
  height: 212px;
  margin: 12px;
  background-color: rgb(46, 44, 44);
}

.holder {   
  width: 212px;
  height: 212px;
  display: inline-block; 
  background-color: #202A5D;
}

.holder img {
  width: 212px;
  height: 212px;
  background-color: #202A5D;
}

h5 {
  text-align: center;
}​

[class^="about-team-row-text"] {
  text-align: center;
}

[class^="about-team-row-images"] {
  display: flex;
  flex-direction: row;
  margin: 12px;
}