.about-scroll-content-section {
  padding: 2.2em;
}

.about-image {
  margin: 1.1em;
  position: relative;
  /* background-color: rgb(46, 44, 44); */
}

/* https://www.w3schools.com/howto/howto_css_image_overlay.asp */
.about-image-info {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 15px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  opacity: 0;
  transition: .25s ease;
  background-color: #202A5D;
}

.about-image:hover .about-image-info {
  opacity: .88;
}

.holder {   
  width: 9.5em;
  height: 9.5em;
  border-radius: 50%;
  padding: .3em;
  /* position: absolute;  */
  overflow: hidden;
  background-color: #202A5D;
}

.holder img {
  max-width:100%;
  border-radius: 50%;
}

/* .holder:hover {
  display: none;
} */

h5 {
  text-align: center;
}​

[class^="about-team-row-text"] {
  text-align: center;
}

[class^="about-team-row-images"] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 12px;
}