@import url('https://fonts.googleapis.com/css2?family=Amiko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

.index-Navbar {
    font-family: 'Amiko', sans-serif;
    font-size: 18px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 15vh;
    /* padding: 24px; */
}

.index-NavbarTop {
    display: flex;
    align-content: space-between;
    width: auto;
    max-width: 96vw;
    padding-top: 24px;
}

.index-NavbarLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B93838;
    color: white;
    width: 72px;
    height: 72px;
}

.index-Logo {
    color: white;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item:hover {
    background-color: #a4a9c2;
    opacity: 30%;
}

.nav-pills .nav-item .nav-link {
    color: rgb(0, 0, 0);
}

.nav-pills .nav-item .nav-link.active {
    color: #fff;
    background-color: #202A5D;
}


.index-NavbarLinks {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    width: 100vw;
    margin-bottom: -15px;
}

.index-NavbarSearch {
    display: flex;
    flex-direction:row-reverse;
    align-content: flex-start;
    width: 100vw;
}