@import url('https://fonts.googleapis.com/css2?family=Amiko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

.index-Navbar {
    font-family: 'Amiko', sans-serif;
    font-size: 18px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 15vh;
    padding: 24px;
}

.index-NavbarTop {
    display: flex;
    align-content: space-between;
    width: auto;
    max-width: 96vw;
    padding-top: 24px;
}

.index-NavbarLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B93838;
    color: white;
    width: 72px;
    height: 72px;
    /* margin-top: 36px;
    margin-left: 24px; */
}

.index-Logo {
    color: white;
}

.index-NavItem {
    color: black;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item:hover {
    background-color:rgb(192, 192, 192);
    opacity: 40%;
}

.index-NavbarLinks {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    width: 100vw;
    margin-bottom: 12px;
}

.index-NavbarSearch {
    display: flex;
    flex-direction:row-reverse;
    align-content: flex-start;
    width: 100vw;
}